.stxt{ width: 50%; }
.ltxt{ width: 70%; margin-bottom: 5px;}
.frm_find{text-align: -webkit-left;}
.div_find_auth{ display: none;}
.div_find_pass{ display: none;}
.find_submitbtn{padding: 0px; margin: 0px;}
.find_authBtn{padding: 0px; margin: 0px;}
.find_sendBtn{padding: 0px; margin: 0px;}