.stxt{ width: 50%; }
.ltxt{ width: 70%; margin-bottom: 5px;}
.btn_member{ width: 50px; height: 38px; padding: 0px; margin: 0px;}
.frm_membership{text-align: -webkit-right;}
#txt_joinAuthNum { display: none;}
.mem_divbtn{ padding: 0px;}