.myTd {
    padding: 0.4rem 0.1rem !important;
}

#monthBody tr {
    height: 13vh;
}

#monthBody tr td {
    width: 209px;
    max-height: 100px;
    word-break: break-all;
    table-layout: fixed
}

#monthBody tr div[id] {
    border-top: 1px solid olivedrab;
    height: 8vh;
    max-height: 15vh;
}

#monthBody tr div[id]::-webkit-scrollbar {
    display: none;
}