#weekBodyDiv {
    margin-top: 2px;
}

#weekBodyDiv > div {
    border: 1px solid;
    padding: 3px;
    box-sizing: border-box;
    margin: 2px;
}

#weekBodyDiv > div > div {
    border: 1px solid #aaa;
    height: 400px;
}

#weekHeadDiv > div {
    border: 1px solid;
    padding: 3px;
    box-sizing: border-box;
    margin: 2px;
}

#weekHeadDiv .empty {
    border: 0px;
}